{% extends 'base.html' %}
{% load static %}
{% block title %}{% if article.meta_title %}{{ article.meta_title }}{% else %}{{ article.title }}{% endif %}{% endblock %}
{% block meta_description %}{{ article.meta_description|default:article.description|striptags|truncatechars:160 }}{% endblock %}
{% block canonical %}<link rel="canonical" href="{% if article.canonical_url %}{{ article.canonical_url }}{% else %}{{ canonical_url }}{% endif %}">{% endblock %}
{% load seo_tags %}
{% block og_type %}article{% endblock %}
{% block og_title %}{{ article.meta_title|default:article.title }}{% endblock %}
{% block og_description %}{{ article.meta_description|default:article.description|striptags|truncatechars:200 }}{% endblock %}
{% block og_image %}{% if article.image %}{{ request.scheme }}://{{ request.get_host }}{{ article.image.url }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/og-default.jpg' %}{% endif %}{% endblock %}
{% block twitter_image %}{% if article.image %}{{ request.scheme }}://{{ request.get_host }}{{ article.image.url }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/og-default.jpg' %}{% endif %}{% endblock %}
{% block twitter_title %}{{ article.meta_title|default:article.title }}{% endblock %}
{% block twitter_description %}{{ article.meta_description|default:article.description|striptags|truncatechars:200 }}{% endblock %}
{% block extra_schema %}
    {% article_schema article %}
    {% article_breadcrumb article %}
{% endblock %}
{% load jalali_tags %}

{% block content %}
    <main class="blog-detail default">
        {% include 'includes/page_head.html' with title=article.title parent='وبلاگ' parent_url='/blog/' heading_tag='div' %}

        <div class="container space-bottom-30">
            <div class="row">
                <div class="single_blog_content col-12 col-lg-9 order-2 order-lg-1">
                    <article class="fm-panel fm-article">
                        <h1 class="fm-article__title">{{ article.title }}</h1>

                        <div class="fm-article__meta">
                            <span><i class="fa fa-clock" aria-hidden="true"></i> {{ article.created_at|to_jalali:'%d %b %Y' }}</span>
                            <span><i class="fa fa-user" aria-hidden="true"></i>
                                {% if article.author.profile.first_name and article.author.profile.last_name %}
                                    {{ article.author.profile.first_name }} {{ article.author.profile.last_name }}
                                {% else %}{{ article.author.username }}{% endif %}
                            </span>
                            <span><i class="fa fa-eye" aria-hidden="true"></i> {{ article.views }} بازدید</span>
                            {% if article.category.all %}
                                <span class="fm-article__cats">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                    {% for category in article.category.all %}<a href="{% url 'blog:article_category' category.slug %}" rel="category tag">{{ category.title }}</a>{% if not forloop.last %}<span class="sep">،</span>{% endif %}{% endfor %}
                                </span>
                            {% endif %}
                        </div>

                        <figure class="fm-article__cover">
                            {% if article.image %}
                                <img src="{{ article.image.url }}" alt="{{ article.title|truncatewords:13 }}" loading="lazy"/>
                            {% else %}
                                <img src="{% static 'img/article_image_not_found.jpg' %}" alt="{{ article.title|truncatewords:13 }}" loading="lazy"/>
                            {% endif %}
                        </figure>

                        {% comment %}محتوای مقاله HTML است؛ قبلاً داخل یک پاراگراف و یک فرم قرار داشت
                           که ساختار HTML را خراب می‌کرد. حالا درست رندر می‌شود.{% endcomment %}
                        <div class="fm-prose">
                            {{ article.description|safe }}
                        </div>

                        {% if article.tags.all %}
                            <div class="fm-article__tags">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                {% for tag in article.tags.all %}<span class="fm-tag">{{ tag.title }}</span>{% endfor %}
                            </div>
                        {% endif %}
                    </article>
                </div>

                <aside class="col-12 col-lg-3 order-1 order-lg-2">
                    <div class="sidebar_blog">
                        <div class="fm-panel fm-aside-nav">
                            <div class="fm-panel__head">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                <h2>دسته‌بندی‌ها</h2>
                            </div>
                            <ul>
                                {% for category in article_categories %}
                                    <li>
                                        <a href="{% url 'blog:article_category' category.slug %}">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i> {{ category.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="fm-panel fm-aside-nav space-top-15">
                            <div class="fm-panel__head">
                                <i class="fa fa-newspaper" aria-hidden="true"></i>
                                <h2>آخرین مقالات</h2>
                            </div>
                            <ul>
                                {% for item in latest_articles %}
                                    <li>
                                        <a href="{% url 'blog:article_detail' item.slug %}">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i> {{ item.title|truncatewords:7 }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}
