{% extends 'base.html' %}
{% block title %}محصولات {{ category.title }}{% endblock %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <main class="search-page default space-top-30">
        <div class="container">
            <div class="row">
                <div class="col-12 hidden-xs">
                    <div class="brand-slider card border_all ">
                        <header class="card-header">
                            <h3 class="card-title"><span>دسته بندی ها</span></h3>
                        </header>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    {% for category in categories %}
                                        <div class="col-6 col-md-2 contact-bigicon">
                                            <a href="{% url 'product:category_product_list' category.slug %}">
                                                {% if category.image %}
                                                    <img class="img-responsive imgpad" src="{{ category.image.url }}"
                                                         alt="{{ category.title }}"/>
                                                {% else %}
                                                    <img class="img-responsive imgpad"
                                                         src="{% static 'img/category_image_not_found.png' %}"
                                                         alt="{{ category.title }}"/>
                                                {% endif %}
                                                <b class="title-3 light-black">{{ category.title }}</b>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <aside class="sidebar-page col-12 col-sm-12 col-md-4 col-lg-3 ">
                    <form method="get">
                        <div class="box">
                                <header class="card-header">
                                    <h3 class="card-title"><span class="space-right-10">رنگ</span></h3>
                                </header>
                                <div class="box-content">
                                    <div class="collapse show">
                                        {% for color in colors %}
                                            <div class="form-account-agree">
                                                <label class="checkbox-form checkbox-primary">
                                                    <input type="checkbox" id="color {{ color.id }}" name="color" value="{{ color.id }}" {% if color.id in selected_colors %}checked{% endif %}>
                                                    <span class="checkbox-check"></span>
                                                </label>
                                                <label for="color {{ color.id }}"> {{ color.title }}</label>
                                                <span class="color_pro_sel" style=" background-color: {{ color.color_code }};"></span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        <div class="box">
                                <header class="card-header">
                                    <h3 class="card-title"><span class="space-right-10">لیست برند ها</span></h3>
                                </header>
                                <div class="box-content">
                                    <div class="collapse show">
                                        {% for brand in brands %}
                                            <div class="form-account-agree">
                                                <label class="checkbox-form checkbox-primary">
                                                    <input type="checkbox" id="brand {{ brand.id }}" name="brand" value="{{ brand.id }}" {% if brand.id in selected_brands %}checked{% endif %}>
                                                    <span class="checkbox-check"></span>
                                                </label>
                                                <label for="brand {{ brand.id }}">{{ brand.title }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        <div class="box ">
                            <header class="card-header">
                                <h3 class="card-title"><span class="space-right-10">قیمت</span></h3>
                            </header>
                            <div class="price-range-wrapper">
                                <div class="price-values">
                                    <span>از <span id="min-value">{{ min_price }}</span> تومان</span>
                                    <span>تا <span id="max-value">{{ max_price }}</span> تومان</span>
                                </div>
                                <div class="slider-track-container">
                                    <input type="range" name="min_price" min="{{ actual_min_price }}" max="{{ actual_max_price }}" value="{{ min_price }}" step="500" id="minRange">
                                    <input type="range" name="max_price" min="{{ actual_min_price }}" max="{{ actual_max_price }}" value="{{ max_price }}" step="500" id="maxRange">
                                    <div class="slider-track"></div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-content">
                                <input type="checkbox" class="bootstrap-switch" name="in_stock" value="1" {% if in_stock == '1' %}checked{% endif %}/>
                                <label for="">موجود در انبار مسای</label>
                            </div>
                        </div>

                        <button type="submit" class="view_more mb-4">اعمال فیلتر</button>
                    </form>
                </aside>
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">

                    <div class="listing default ">
                        <div class="tab-content default text-center">
                            <div class="tab-pane active" role="tabpanel" aria-expanded="true">

                                <div class="row listing-items">
                                    {% if products %}
                                        {% for product in products %}
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-12 list_search_p ">
                                                <div class="product-box">
                                                    <div class="product-seller-details product-seller-details-item-grid">
                                                        <span class="search_prod_btn">
                                                            <i class="fa fa fa-cart-arrow-down search_icon_cart" aria-hidden="true" data-product-id="{{ product.id }}" data-color-id="{% if product.color.all %}{{ product.color.first.id }}{% else %}null{% endif %}" onclick="addToCart(this)"></i>
                                                        </span>
                                                    </div>
                                                    <a class="product-box-img"
                                                       href="{% url 'product:product_detail' product.pid product.slug %}">
                                                        {% if product.image %}
                                                            <img src="{{ product.image.url }}"
                                                                 alt="{{ product.title|truncatewords:10 }}">
                                                        {% else %}
                                                            <img src="{% static 'img/product_image_not_found.jpg' %}"
                                                                 alt="{{ product.title|truncatewords:10 }}">
                                                        {% endif %}
                                                        {% if product.stock_count == 0 %}
                                                            <img src="{% static 'img/sell.png' %}" class="type_icon_finished">
                                                        {% endif %}
                                                        <ul>
                                                            {% for color in product.color.all %}
                                                                <li class="color_pro"
                                                                    style="background-color: {{ color.color_code }}; top: {{ forloop.counter|multiply:13|add:-6 }}px;"></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </a>
                                                    <div class="product-box-content">
                                                        <div class="product-box-content-row">
                                                            <div class="product_title">
                                                                <a href="{% url 'product:product_detail' product.pid product.slug %}">{{ product.title }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="product-box-row product_price_search">
                                                            <div class="price">
                                                                {% if product.old_price %}
                                                                    <del>
                                                                        <span>{{ product.old_price|format_price }}<span>تومان</span></span>
                                                                    </del>
                                                                    <span class="discount_badge">{{ product.discount_percentage }}%</span>
                                                                {% endif %}
                                                                <ins>
                                                                    <span>{{ product.price|format_price }}<span>تومان</span></span>
                                                                </ins>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        محصولی وجود ندارد!
                                    {% endif %}
                                </div>

                                <!-- Pagination -->
                                {% if products.has_other_pages %}
                                    <div class="pagination">
                                        {% if products.has_previous %}
                                            <a href="?page={{ products.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}" class="page-arrow prev"><i class="fa fa-angle-right"></i></a>
                                        {% endif %}
                                        {% for page in pages_to_show %}
                                            {% if page == '...' %}
                                                <span class="page-number">...</span>
                                            {% elif products.number == page %}
                                                <a href="?page={{ page }}{% if querystring %}&{{ querystring }}{% endif %}" class="page-number active">{{ page }}</a>
                                            {% else %}
                                                <a href="?page={{ page }}{% if querystring %}&{{ querystring }}{% endif %}" class="page-number">{{ page }}</a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if products.has_next %}
                                            <a href="?page={{ products.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}" class="page-arrow next"><i class="fa fa-angle-left"></i></a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- Pagination -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        // فقط یک رنگ انتخاب شود
        document.querySelectorAll('input[id^="color"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    document.querySelectorAll('input[id^="color"]').forEach(function(other) {
                        if (other !== checkbox) {
                            other.checked = false;
                        }
                    });
                }
            });
        });

        // فقط یک برند انتخاب شود
        document.querySelectorAll('input[id^="brand"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    document.querySelectorAll('input[id^="brand"]').forEach(function(other) {
                        if (other !== checkbox) {
                            other.checked = false;
                        }
                    });
                }
            });
        });

        const minRange = document.getElementById('minRange');
        const maxRange = document.getElementById('maxRange');
        const minValue = document.getElementById('min-value');
        const maxValue = document.getElementById('max-value');

        function formatPrice(num) {
            return parseInt(num).toLocaleString('fa-IR');
        }

        function updatePriceLabels() {
            minValue.textContent = formatPrice(minRange.value);
            maxValue.textContent = formatPrice(maxRange.value);
        }

        minRange.addEventListener('input', updatePriceLabels);
        maxRange.addEventListener('input', updatePriceLabels);

        updatePriceLabels();

        function addToCart(element) {
            {% if not request.user.is_authenticated %}
                Swal.fire({
                    title: 'ورود به سیستم',
                    text: 'برای افزودن محصول به سبد خرید، ابتدا باید وارد حساب کاربری خود شوید.',
                    icon: 'warning',
                    confirmButtonText: 'ورود',
                    confirmButtonColor: '#46A9AE',
                    showCancelButton: true,
                    cancelButtonText: 'انصراف',
                    cancelButtonColor: '#e74c3c'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'account:login' %}?next={{ request.path }}";
                    }
                });
                return;
            {% endif %}

            const productId = element.getAttribute('data-product-id');
            const colorId = element.getAttribute('data-color-id') === 'null' ? null : element.getAttribute('data-color-id');

            fetch(`/cart/add/${productId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    color_id: colorId,
                    quantity: 1
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        text: 'محصول با موفقیت به سبد خرید اضافه شد',
                        icon: 'success',
                        confirmButtonText: 'تایید',
                        confirmButtonColor: '#46A9AE'
                    });
                } else {
                    Swal.fire({
                        title: 'خطا',
                        text: data.message,
                        icon: 'error',
                        confirmButtonColor: '#e74c3c'
                    });
                }
            });
        }
    </script>

{% endblock %}